body {
  margin:0;
  background-color: #E4BE9E;
  font-family: Futura;
}

.content {
  height: 80vh;
  display: flex;
  align-items: center;
  justify-content: center;
}

.searchbar {
  padding: 5px;
  border-top: none;
  border-left: none;
  border-right: none;
  border-bottom: 0.5px solid;
}

/* Landing Page */
.landing-page-content {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.landing-page-slider {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: black;
  height: 300px;
  width: 100vw;
}

.landing-page-quote-container {
  width: 60%;
}

.landing-page-quotes {
  color: white;
}

.explore-button {
  width: 19.7vw;
  padding: 13px;
  margin-top: 30px;
  background-color: black;
  border: none;
  color: white;
}


/* End Landing Page */

/* Login Form TODO: potentially migrate to seperate stylesheet and create mobile breakpoints!*/

.login-form {
  padding: 20px;
  width: 20vw;
  align-items: center;
  justify-content: center;
}

.form-field {
  width: 18vw;
  padding: 10px 10px 10px 0px;
  margin-top: 10px;
  margin-bottom: 10px;
  border-top: none;
  border-left: none;
  border-right: none;
  border-bottom: 0.5px solid;
}


.submit-button {
  width: 19.7vw;
  padding: 13px;
  margin-top: 10px;
  background-color: #313638;
  border: none;
  color: white;
}

.submit-button:hover {
  background-color: #5DD9C1;
  color: white;
}

.submit-button:disabled {
  background-color: grey;
  color: white;
  cursor: not-allowed;
}

.login-form-container {
  background-color:white;
}

/* End Login Form */

/* Cart */

.cart-container {
  min-width: 300px;
  background-color: white;
  display: flex;
  flex-direction: column;
  padding: 20px;
}

.cart-item {

}

.name-quantity {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content:space-between;
}

.cart-total-container {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.cart-buttons-container {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

button {
  display: inline-block;
  border: none;
  padding: 12px 24px;
  font-size: 16px;
  font-weight: bold;
  text-align: center;
  text-transform: uppercase;
  color: #fff;
  background-color: #007bff;
  box-shadow: 0px 2px 5px rgba(0, 0, 0, 0.2);
  border-radius: 30px;
  cursor: pointer;
  transition: all 0.3s ease-in-out;
}

button:hover {
  background-color: #0062cc;
  box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.2);
}

button:focus {
  outline: none;
}

button:active {
  transform: translateY(1px);
  box-shadow: 0px 1px 2px rgba(0, 0, 0, 0.2);
}

.cart-button-shopping {
  width: 75%;
  background-color: black;
}

.cart-button-checkout {
  width: 50%;
  border: none;
  background-color: #2CDA9D;
}
/* End Cart */

/* Product Page */

.product-page-content {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.product-page-row {
  margin-top: 50px;
  display: flex;
  width: 95vw;
  justify-content: space-between;
}

.product-container {
  min-width: 250px;
  padding: 10px;
  background-color: white;
  flex-direction: column;
}

.product-image-container {
  width: 100%;
  height: 200px;
  background-color: black;
}


/* End Product Page */




